Hi asad please complete any 7 questions before next session, and the question you will skip we will do in session
1. Print even and odd numbers using a for loop:
   - Hint: Use the modulo operator `%` to check if a number is even or odd. Example: `if num % 2 == 0`.

2. Find 'asad' in a complex dictionary-list structure:
   - Hint: Navigate through nested dictionaries and lists using loops and conditions. Example:
     ```
     complex_structure = {
         'key1': ['value1', 'value2', 'value3'],
         'key2': {
             'subkey1': 'value4',
             'subkey2': ['value5', 'value6', 'asad']
         }
     }
     ```

3. Print all numbers that are multiples of 5 using a for loop:
   - Hint: Use the modulo operator `%` to check for multiples of 5. Example: `if num % 5 == 0`.

4. Create a list of fruits and print the last element:
   - Hint: Remember that lists in Python are indexed starting from 0. Example: `fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi']`.

5. Print all colors that contain the letter 'e':
   - Hint: Use a loop to iterate through a list of colors and check each string for the presence of 'e'. Example: `colors = ['red', 'blue', 'green', 'yellow', 'purple', 'orange', 'black', 'white']`.

6. Count the number of names that start with 'A' in a list of names:
   - Hint: Use a loop and conditional statement to check the first character of each name. Example: `names = ['Alice', 'Bob', 'Anna', 'Alex', 'Amy', 'Brad']`.

7. Calculate the sum of all numbers in a nested list:
   - Hint: Utilize nested loops to iterate through the elements of the list and sum them up. Example:
     ```
     nested_list = [
         [1, 2, 3],
         [4, 5, 6],
         [7, 8, 9, 10],
         [11, 12, 13, 14, 15]
     ]
     ```

8. Find the maximum number in a list of integers:
   - Hint: Initialize a variable to store the maximum value and update it as you iterate through the list. Example: `numbers = [14, 3, 27, 9, 5, 11]`.

9. Print all prime numbers between 1 and 50:
   - Hint: Use nested loops and a prime-checking function or logic to identify prime numbers. Example: `prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]`.

10. Check if a given word is a palindrome:
    - Hint: Compare characters from the beginning and end of the word using indexing and a loop. Example: `word = 'radar'`.Hi asad please complete any 7 questions before next session, and the question you will skip we will do in session
1. Print even and odd numbers using a for loop:
   - Hint: Use the modulo operator `%` to check if a number is even or odd. Example: `if num % 2 == 0`.

2. Find 'asad' in a complex dictionary-list structure:
   - Hint: Navigate through nested dictionaries and lists using loops and conditions. Example:
     ```
     complex_structure = {
         'key1': ['value1', 'value2', 'value3'],
         'key2': {
             'subkey1': 'value4',
             'subkey2': ['value5', 'value6', 'asad']
         }
     }
     ```

3. Print all numbers that are multiples of 5 using a for loop:
   - Hint: Use the modulo operator `%` to check for multiples of 5. Example: `if num % 5 == 0`.

4. Create a list of fruits and print the last element:
   - Hint: Remember that lists in Python are indexed starting from 0. Example: `fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi']`.

5. Print all colors that contain the letter 'e':
   - Hint: Use a loop to iterate through a list of colors and check each string for the presence of 'e'. Example: `colors = ['red', 'blue', 'green', 'yellow', 'purple', 'orange', 'black', 'white']`.

6. Count the number of names that start with 'A' in a list of names:
   - Hint: Use a loop and conditional statement to check the first character of each name. Example: `names = ['Alice', 'Bob', 'Anna', 'Alex', 'Amy', 'Brad']`.

7. Calculate the sum of all numbers in a nested list:
   - Hint: Utilize nested loops to iterate through the elements of the list and sum them up. Example:
     ```
     nested_list = [
         [1, 2, 3],
         [4, 5, 6],
         [7, 8, 9, 10],
         [11, 12, 13, 14, 15]
     ]
     ```

8. Find the maximum number in a list of integers:
   - Hint: Initialize a variable to store the maximum value and update it as you iterate through the list. Example: `numbers = [14, 3, 27, 9, 5, 11]`.

9. Print all prime numbers between 1 and 50:
   - Hint: Use nested loops and a prime-checking function or logic to identify prime numbers. Example: `prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]`.

10. Check if a given word is a palindrome:
    - Hint: Compare characters from the beginning and end of the word using indexing and a loop. Example: `word = 'radar'`.

In [1]:
complex_structure = {
         'key1': ['value1', 'value2', 'value3'],
         'key2': {
             'subkey1': 'value4',
             'subkey2': ['value5', 'value6', 'asad']
         }
     }

In [13]:
complex_structure ['key2'] ['subkey2'][2]

'asad'

In [3]:
# 1 data types 
# int , float and string +

In [4]:
"asad"

'asad'

In [5]:
d = {'name1':'asad'}

In [7]:
d['name1']

'asad'

In [14]:
data_list = [
    {
        'key1': ['value1', 'value2', 'value3'],
        'key2': {
            'subkey1': 'value4',
            'subkey2': ['value5', 'value6', 'John']
        }
    },
    {
        'key1': ['value8', 'value9', 'value10'],
        'key2': {
            'subkey1': 'value11',
            'subkey2': ['value12', 'value13', 'Emily']
        }
    },
    {
        'key1': ['value15', 'value16', 'value17'],
        'key2': {
            'subkey1': 'value18',
            'subkey2': ['value19', 'value20', 'Michael']
        }
    },
    {
        'key1': ['value22', 'value23', 'value24'],
        'key2': {
            'subkey1': 'value25',
            'subkey2': ['value26', 'value27', 'Sarah']
        }
    },
    {
        'key1': ['value29', 'value30', 'value31'],
        'key2': {
            'subkey1': 'value32',
            'subkey2': ['value33', 'value34', 'David']
        }
    },
    {
        'key1': ['value36', 'value37', 'value38'],
        'key2': {
            'subkey1': 'value39',
            'subkey2': ['value40', 'value41', 'Jessica']
        }
    },
    {
        'key1': ['value43', 'value44', 'value45'],
        'key2': {
            'subkey1': 'value46',
            'subkey2': ['value47', 'value48', 'Daniel']
        }
    },
    {
        'key1': ['value50', 'value51', 'value52'],
        'key2': {
            'subkey1': 'value53',
            'subkey2': ['value54', 'value55', 'Emma']
        }
    },
    {
        'key1': ['value57', 'value58', 'value59'],
        'key2': {
            'subkey1': 'value60',
            'subkey2': ['value61', 'value62', 'Christopher']
        }
    },
    {
        'key1': ['value64', 'value65', 'value66'],
        'key2': {
            'subkey1': 'value67',
            'subkey2': ['value68', 'value69', 'Sophia']
        }
    }
]

In [19]:
y=[]# empty
for asad in data_list :
    x = asad['key2'] ['subkey2'][2]
    y.append(x)

In [20]:
y

['John',
 'Emily',
 'Michael',
 'Sarah',
 'David',
 'Jessica',
 'Daniel',
 'Emma',
 'Christopher',
 'Sophia']

In [22]:
print(y)

['John', 'Emily', 'Michael', 'Sarah', 'David', 'Jessica', 'Daniel', 'Emma', 'Christopher', 'Sophia']

In [23]:
# make a list of name and country code

In [28]:
countrycode = ['Pakistan', 92,'Indonesia', 62]

In [29]:
cc = [   ['pak',92] ,['ind',62]    ]

In [ ]:
dd = {'pak':92,'ind':62}

In [30]:
# yeh list ha, ya dic, ya set ha ya , tuple, data  structure

In [31]:
# data types
# data structures

In [32]:
p = [100,200,300,400,['a','b','c','d','e'],600,700,800]