# print conting from 1 to 10

In [2]:
x = '1,2,3,4,5,6,7,8,9,10'

In [5]:
y = x.split(',')
y

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [7]:
z = [int(i)   for i in y]
z

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
w = list(  range(1,11) )
w

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
o = list(    range(1,101))
o

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [15]:
o*1.1

TypeError: can't multiply sequence by non-int of type 'float'

In [17]:
t = []
for asad in o:
    print(asad*1.1)
    t.append(asad*1.1)

1.1
2.2
3.3000000000000003
4.4
5.5
6.6000000000000005
7.700000000000001
8.8
9.9
11.0
12.100000000000001
13.200000000000001
14.3
15.400000000000002
16.5
17.6
18.700000000000003
19.8
20.900000000000002
22.0
23.1
24.200000000000003
25.3
26.400000000000002
27.500000000000004
28.6
29.700000000000003
30.800000000000004
31.900000000000002
33.0
34.1
35.2
36.300000000000004
37.400000000000006
38.5
39.6
40.7
41.800000000000004
42.900000000000006
44.0
45.1
46.2
47.300000000000004
48.400000000000006
49.50000000000001
50.6
51.7
52.800000000000004
53.900000000000006
55.00000000000001
56.1
57.2
58.300000000000004
59.400000000000006
60.50000000000001
61.60000000000001
62.7
63.800000000000004
64.9
66.0
67.10000000000001
68.2
69.30000000000001
70.4
71.5
72.60000000000001
73.7
74.80000000000001
75.9
77.0
78.10000000000001
79.2
80.30000000000001
81.4
82.5
83.60000000000001
84.7
85.80000000000001
86.9
88.0
89.10000000000001
90.2
91.30000000000001
92.4
93.50000000000001
94.60000000000001
95.7
96.80000000000001
97.9
99.00000000000001
100.10000000000001
101.2
102.30000000000001
103.4
104.50000000000001
105.60000000000001
106.7
107.80000000000001
108.9
110.00000000000001

In [18]:
t

[1.1,
 2.2,
 3.3000000000000003,
 4.4,
 5.5,
 6.6000000000000005,
 7.700000000000001,
 8.8,
 9.9,
 11.0,
 12.100000000000001,
 13.200000000000001,
 14.3,
 15.400000000000002,
 16.5,
 17.6,
 18.700000000000003,
 19.8,
 20.900000000000002,
 22.0,
 23.1,
 24.200000000000003,
 25.3,
 26.400000000000002,
 27.500000000000004,
 28.6,
 29.700000000000003,
 30.800000000000004,
 31.900000000000002,
 33.0,
 34.1,
 35.2,
 36.300000000000004,
 37.400000000000006,
 38.5,
 39.6,
 40.7,
 41.800000000000004,
 42.900000000000006,
 44.0,
 45.1,
 46.2,
 47.300000000000004,
 48.400000000000006,
 49.50000000000001,
 50.6,
 51.7,
 52.800000000000004,
 53.900000000000006,
 55.00000000000001,
 56.1,
 57.2,
 58.300000000000004,
 59.400000000000006,
 60.50000000000001,
 61.60000000000001,
 62.7,
 63.800000000000004,
 64.9,
 66.0,
 67.10000000000001,
 68.2,
 69.30000000000001,
 70.4,
 71.5,
 72.60000000000001,
 73.7,
 74.80000000000001,
 75.9,
 77.0,
 78.10000000000001,
 79.2,
 80.30000000000001,
 81.4,
 82.5,
 83.60000000000001,
 84.7,
 85.80000000000001,
 86.9,
 88.0,
 89.10000000000001,
 90.2,
 91.30000000000001,
 92.4,
 93.50000000000001,
 94.60000000000001,
 95.7,
 96.80000000000001,
 97.9,
 99.00000000000001,
 100.10000000000001,
 101.2,
 102.30000000000001,
 103.4,
 104.50000000000001,
 105.60000000000001,
 106.7,
 107.80000000000001,
 108.9,
 110.00000000000001]

In [22]:
4 /2

2.0

In [23]:
3 % 2

1

In [24]:
6 % 2

0

In [27]:
for i in range(1,10):
    if i %2 ==0:
        print(f'{i} is even number')
    else:
        print(f'{i} is odd')

1 is odd
2 is even number
3 is odd
4 is even number
5 is odd
6 is even number
7 is odd
8 is even number
9 is odd

In [31]:
g = [1,32,4,5,2,1,52,53,1,2,4,67,3,2,4,3,53,3,5,6,7,9,4,2,3,57,4,7,86,3,43,6,75,768,653,7,3,422,45,4,67,8,9,4]
even = [i for i in g if i%2==0]
odd = [i for i in g if i%2!=0]

In [32]:
even

[32, 4, 2, 52, 2, 4, 2, 4, 6, 4, 2, 4, 86, 6, 768, 422, 4, 8, 4]

In [33]:
odd

[1,
 5,
 1,
 53,
 1,
 67,
 3,
 3,
 53,
 3,
 5,
 7,
 9,
 3,
 57,
 7,
 3,
 43,
 75,
 653,
 7,
 3,
 45,
 67,
 9]

In [36]:
even = []
odd = []
for i in g:
    if i %2 ==0:
        print(f'{i} is even number')
        even.append(i)
    else:
        print(f'{i} is odd')
        odd.append(i)

1 is odd
32 is even number
4 is even number
5 is odd
2 is even number
1 is odd
52 is even number
53 is odd
1 is odd
2 is even number
4 is even number
67 is odd
3 is odd
2 is even number
4 is even number
3 is odd
53 is odd
3 is odd
5 is odd
6 is even number
7 is odd
9 is odd
4 is even number
2 is even number
3 is odd
57 is odd
4 is even number
7 is odd
86 is even number
3 is odd
43 is odd
6 is even number
75 is odd
768 is even number
653 is odd
7 is odd
3 is odd
422 is even number
45 is odd
4 is even number
67 is odd
8 is even number
9 is odd
4 is even number

In [37]:
even

[32, 4, 2, 52, 2, 4, 2, 4, 6, 4, 2, 4, 86, 6, 768, 422, 4, 8, 4]

In [38]:
odd

[1,
 5,
 1,
 53,
 1,
 67,
 3,
 3,
 53,
 3,
 5,
 7,
 9,
 3,
 57,
 7,
 3,
 43,
 75,
 653,
 7,
 3,
 45,
 67,
 9]